/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
*, *:after, *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav, ul, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

a:visited {
  color: inherti;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}
html {
  font-size: 62.5%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  width: 100%;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  font-size: 5rem;
  margin: 50px 0px;
}

.title::before {
  margin-right: 3rem;
  width: 5em;
  content: '';
  height: 5px;
  background-color: #21c44a;
  display: inline-block;
}

@media screen and (max-width: 959px) {
  .title::before {
    margin-right: 1.5rem;
    width: 1em;
  }
}

.title::after {
  margin-left: 3rem;
  width: 5em;
  content: '';
  height: 5px;
  background-color: #21c44a;
  display: inline-block;
}

@media screen and (max-width: 959px) {
  .title::after {
    margin-left: 1.5rem;
    width: 1em;
  }
}

.subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  font-size: 2rem;
  margin: 50px 0px;
  color: #646464;
}

.sa {
  opacity: 0;
  -webkit-transition: all .8s ease;
  transition: all .8s ease;
}

@media screen and (max-width: 959px) {
  .sa {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
  }
}

.sa.show {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.sa--lr {
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
}

@media screen and (max-width: 959px) {
  .sa--lr {
    -webkit-transform: translateX(-32px);
            transform: translateX(-32px);
  }
}

.sa--rl {
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
}

@media screen and (max-width: 959px) {
  .sa--rl {
    -webkit-transform: translateX(32px);
            transform: translateX(32px);
  }
}

#page_top {
  width: 90px;
  height: 90px;
  position: fixed;
  right: 0;
  bottom: 0;
  background: #292929;
  opacity: 0.6;
  border-radius: 50%;
}

@media screen and (max-width: 959px) {
  #page_top {
    display: none;
  }
}

#page_top a {
  position: relative;
  display: block;
  width: 90px;
  height: 90px;
  text-decoration: none;
}

#page_top a::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f102';
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -40px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}

#page_top a::after {
  content: 'PAGE TOP';
  font-size: 13px;
  color: #fff;
  position: absolute;
  top: 45px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

@media screen and (max-width: 959px) {
  header {
    width: 100%;
    height: 80px;
    display: inline-block;
  }
}

header .header-logo {
  font-size: 3rem;
  color: #21c44a;
  font-family: 'Marker Felt';
}

@media screen and (max-width: 959px) {
  header .header-logo {
    font-size: 2rem;
    line-height: 50px;
  }
}

header .nav-menu {
  font-family: 'Marker Felt';
  font-size: 2rem;
  width: 30%;
  color: #fff;
}

@media screen and (max-width: 959px) {
  header .nav-menu {
    display: none;
  }
}

header .nav-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .nav-menu ul a:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

header .nav-menu ul a:hover:after {
  color: black;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

#ham {
  display: none;
  width: 25px;
  height: 40px;
  position: fixed;
  right: 30px;
  top: 23px;
  z-index: 101;
}

@media screen and (max-width: 959px) {
  #ham {
    display: inline-block;
  }
}

#ham:before, #ham:after {
  content: "";
  width: 100%;
  height: 3px;
  background: #21c44a;
  position: absolute;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#ham:before {
  top: 10px;
}

#ham:after {
  bottom: 10px;
}

#ham.active:before {
  top: 20px;
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

#ham.active:after {
  bottom: 17px;
  -webkit-transform: rotate(-225deg);
          transform: rotate(-225deg);
}

#block-menu {
  position: fixed;
  z-index: 100;
  display: none;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  font-style: italic;
  font-size: 3rem;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (max-width: 959px) {
  #block-menu {
    display: block;
  }
}

#block-menu ul {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#block-menu ul li {
  margin-bottom: 50px;
}

#block-menu ul li a {
  text-decoration: line-through;
}

#block-menu.active {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

header.smaller {
  background-color: black;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

#header #gnav li a {
  color: white;
}

#header #gnav li a.current {
  color: #21c44a;
}

.top-view {
  width: 100%;
  height: 100vh;
  background-image: url(../img/top-view.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.top-text {
  font-size: 7rem;
  color: whitesmoke;
  text-align: center;
  letter-spacing: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-shadow: 6px 0px 0px black;
}

@media screen and (max-width: 959px) {
  .top-text {
    font-size: 5rem;
  }
}

.top-text h1 {
  margin-bottom: 20px;
}

.btn {
  position: absolute;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 15%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 3rem;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #21c44a;
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border-radius: 35px;
}

@media screen and (max-width: 959px) {
  .btn {
    width: 30%;
    font-size: 1.5rem;
  }
}

.btn:hover {
  background: #2dda12;
}

.fa {
  margin-right: 5px;
}

.about {
  width: 100%;
  padding: 50px 0;
}

.about-menu {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 959px) {
  .about-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80%;
  }
}

.about-img {
  width: 432px;
  height: 432px;
  border-radius: 50%;
}

@media screen and (max-width: 959px) {
  .about-img {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    overflow: hidden;
  }
}

.profile {
  letter-spacing: 1.2px;
  font-size: 2rem;
  white-space: pre-line;
}

.profile p:first-child {
  text-align: center;
  font-weight: bold;
}

.profile p {
  line-height: 2;
}

.skill {
  width: 100%;
  padding: 50px 0;
  background: #f8f9fa;
}

.skill-menu {
  width: 60%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 959px) {
  .skill-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80%;
  }
}

.profile2 {
  letter-spacing: 2px;
  font-size: 2rem;
  white-space: pre-line;
}

.profile2 p {
  line-height: 2;
}

.skill-icon {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 959px) {
  .skill-icon {
    width: 100%;
  }
}

.skill-icon-item {
  font-size: 2rem;
  width: 28%;
  height: 100px;
  text-align: center;
}

.skill-icon-item p {
  margin-top: 10px;
}

@media screen and (max-width: 959px) {
  .skill-icon-item {
    margin-bottom: 50px;
    width: 50%;
  }
}

.fab {
  font-size: 8rem;
}

.portfolio {
  width: 100%;
  padding: 100px 0;
  color: #333333;
}

.portfolio-list {
  width: 80%;
  margin: 0 auto;
}

.portfolio1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
}

@media screen and (max-width: 959px) {
  .portfolio1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.portfolio2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-bottom: 100px;
}

@media screen and (max-width: 959px) {
  .portfolio2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.portfolio3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
}

@media screen and (max-width: 959px) {
  .portfolio3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.portfolio4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media screen and (max-width: 959px) {
  .portfolio4 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.portfolio-img {
  width: 500px;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

@media screen and (max-width: 959px) {
  .portfolio-img {
    width: 100%;
    height: 250px;
  }
}

.portfolio-title {
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
  text-decoration: underline;
}

@media screen and (max-width: 959px) {
  .portfolio-title {
    margin-top: 20px;
    font-size: 2rem;
  }
}

.portfolio-text {
  font-size: 2rem;
  width: 60%;
  line-height: 2;
  padding: 20px;
  margin: 0 auto;
  color: #333333;
}

@media screen and (max-width: 959px) {
  .portfolio-text {
    width: 100%;
  }
}

.port-item1 {
  position: relative;
}

.port-item2 {
  position: relative;
}

.port-item3 {
  position: relative;
}

.port-item4 {
  position: relative;
}

#port-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100px;
  background: rgba(33, 196, 74, 0.9);
  font-size: 3rem;
  position: absolute;
  bottom: 0%;
  left: 0%;
  color: white;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (max-width: 959px) {
  #port-btn {
    height: 50px;
    font-size: 1.5rem;
  }
}

#port-btn:hover {
  background: #21c44a;
}

.fa-search-plus {
  margin-left: 10px;
}

.contact {
  width: 100%;
  background: #f8f9fa;
  padding: 50px 0;
  background-image: url(../img/mountain.jpg);
  background-size: cover;
  background-position: center 75%;
}

.contact-form {
  width: 100%;
  position: relative;
}

.cp_iptxt {
  position: relative;
  width: 50%;
  margin: 0 auto;
}

.cp_iptxt input[type=text] {
  font: 15px/24px sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin: 8px 0;
  padding: 0.3em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 1px solid #1b2538;
  border-radius: 4px;
  outline: none;
}

.cp_iptxt input[type=text]:focus {
  border: 5px solid #21c44a;
}

.cp_iptxt input[type=text] {
  padding-left: 25px;
}

@media screen and (max-width: 959px) {
  .cp_iptxt input[type=text] {
    font-size: 1rem;
  }
}

.cp_iptxt i {
  position: absolute;
  top: 20px;
  left: 0;
  padding: 9px 8px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #aaaaaa;
}

.cp_iptxt input[type=text]:focus + i {
  color: #21c44a;
}

.cp_iptxt textarea {
  font: 15px/24px sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin: 8px 0;
  margin-bottom: 50px;
  padding: 0.3em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 1px solid #1b2538;
  border-radius: 4px;
  outline: none;
}

@media screen and (max-width: 959px) {
  .cp_iptxt textarea {
    height: 200px;
    font-size: 1rem;
  }
}

.cp_iptxt textarea:focus {
  border: 5px solid #21c44a;
}

.cp_iptxt textarea {
  top: 8px;
  left: 0;
  padding: 9px 8px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

textarea#msg {
  height: 300px;
}

.btn-space {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-btn {
  width: 15%;
  height: 50px;
  line-height: 50px;
  font-size: 3rem;
  font-weight: bold;
  padding: 0.25em 0.5em;
  color: #FFF;
  background: #21c44a;
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border-radius: 35px;
  border: none;
}

@media screen and (max-width: 959px) {
  .contact-btn {
    width: 30%;
    font-size: 1.5rem;
  }
}

.contact-btn:hover {
  background: #2dda12;
}

.fa {
  margin-right: 5px;
}

footer {
  width: 100%;
  height: 100px;
  text-align: center;
  line-height: 100px;
  background: black;
  font-size: 1.5rem;
  color: white;
}

@media screen and (max-width: 959px) {
  footer {
    height: 80px;
    line-height: 80px;
  }
}
/*# sourceMappingURL=main.css.map */