.about {
    width: 100%;
    padding: 50px 0;
}

.about-menu {
    width: 80%;
    margin: 0 auto;   
    display: flex;
    justify-content: space-between;
    @include tab {
        flex-direction: column;
        width: 80%;
    }
}

.about-img {
    width: 432px;
    height: 432px;
    border-radius: 50%;
    @include tab {
        width: 250px;
        height: 250px;
        margin: 0 auto;
        overflow : hidden;
    }
}

.profile {
    letter-spacing: 1.2px;
    font-size: 2rem;
    white-space: pre-line;
    p:first-child {
        text-align: center;
        font-weight: bold;
    }
    p {
        line-height: 2;
    }
}