.contact {
	width: 100%;
	position: relative;
	background: #f8f9fa;
  padding: 50px 0;	
}

.contact-form {
  width: 100%;
  height: 80vh;
  background-size: cover;
	background-position: center 75%;
}



.cp_iptxt {
	position: relative;
	width: 50%;
	margin: 0 auto;
}

.cp_iptxt input[type=text] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	margin: 8px 0;
	padding: 0.3em;
	transition: 0.3s;
	border: 1px solid #1b2538;
	border-radius: 4px;
	outline: none;
}
.cp_iptxt input[type=text]:focus {
	border: 5px solid#21c44a;
}
.cp_iptxt input[type=text] {
	padding-left: 40px;
}
.cp_iptxt i {
	position: absolute;
	top: 8px;
	left: 0;
	padding: 9px 8px;
	transition: 0.3s;
	color: #aaaaaa;
}
.cp_iptxt input[type=text]:focus + i {
	color: #21c44a;
}




.cp_iptxt textarea{
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	margin: 8px 0;
	padding: 0.3em;
	transition: 0.3s;
	border: 1px solid #1b2538;
	border-radius: 4px;
	outline: none;
}


.cp_iptxt textarea:focus {
	border: 5px solid#21c44a;
}

.cp_iptxt textarea {
	position: absolute;
	top: 8px;
	left: 0;
	padding: 9px 8px;
	transition: 0.3s;
}


// .contact-btn {
//     position: absolute;
//     bottom: 0%;
//     left: 50%;
//     transform: translate(-50%,-50%);
//     width: 30%;
//     height: 50px;
//     line-height:50px;
//     text-align: center;
//     font-size: 3rem;
//     color: rgba(255, 255, 255,0.7);    
//     border: 5px double rgba(98, 187, 87, 0.815);
//     display: inline-block;
//     box-sizing: content-box;
//     font-weight: bold;
//     cursor: pointer;
// }


.contact-btn {  
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 15%;
  height: 50px;
  line-height:50px;
  text-align: center;
  font-size: 3rem;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #21c44a;
  transition: .4s;
  box-sizing: content-box;
  border-radius: 35px;
  @include tab {
    width: 30%;
    font-size: 1.5rem;
  }
}

.contact-btn:hover {
  background: #2dda12;
}

.fa {
    margin-right: 5px;
}