////////////////////////
///        mixin     //
////////////////////////

@mixin pc {
    @media screen and (min-width: 960px) {
        @content;
    }
}
@mixin tab {
    @media screen and (max-width: 959px) {
        @content;
    }
}
@mixin sp {
    @media screen and (max-width: 600px) {
        @content;
    }
}

/////////////////////////
/////   　　共通  　  /////
/////////////////////////

html {
    font-size: 62.5%;
    user-select: none;
}


body {
    width: 100%;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 5rem;
    margin: 50px 0px;
    &::before {
        margin-right: 3rem;
        width: 5em;
        content: '';
        height: 5px;
        background-color: #21c44a;
        display: inline-block;
        @include tab {
        margin-right: 1.5rem;
        width: 1em;
        }
    }
    &::after {
        margin-left: 3rem;
        width: 5em;
        content: '';
        height: 5px;
        background-color: #21c44a;
        display: inline-block;
        @include tab {
        margin-left: 1.5rem;
        width: 1em;
        }
    }
}

.subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 2rem;
    margin: 50px 0px;
    color: rgb(100, 100, 100);
}

.sa {
    opacity: 0;
    transition: all .8s ease;
    @include tab {
    transition: all 1s ease;
    }
}

.sa.show {
    opacity: 1;
    transform: none;
}

.sa--lr {
    transform: translateX(-100px);
    @include tab {
    transform: translateX(-32px);
    }
}

.sa--rl {
    transform: translateX(100px);
    @include tab {
    transform: translateX(32px);
    }
}

#page_top{
  width: 90px;
  height: 90px;
  position: fixed;
  right: 0;
  bottom: 0;
  background: #292929;
  opacity: 0.6;
  border-radius: 50%;
  @include tab {
      display: none;
  }
}
#page_top a{
  position: relative;
  display: block;
  width: 90px;
  height: 90px;
  text-decoration: none;
}
#page_top a::before{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f102';
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -40px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}
#page_top a::after{
  content: 'PAGE TOP';
  font-size: 13px;
  color: #fff;
  position: absolute;
  top: 45px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}