.portfolio {
    width: 100%;
    padding: 100px 0;
}

.portfolio-menu {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#prev {
    display: block;
    content: "";
    border-left: 5px solid black;
    border-bottom: 5px solid black;
    width: 50px;
    height: 50px;
    transform: rotate(45deg);
    align-self: center;
    margin-left: 10rem;
    @include tab {
        margin: -25px;
    }
}
#next {
    display: block;
    content: "";
    border-right: 5px solid black;
    border-top: 5px solid black;
    width: 50px;
    height: 50px;
    transform: rotate(45deg);
    align-self: center;
    margin-right: 10rem;
    @include tab {
        margin: -25px;
    }
}

.slide-show {
    display: flex;
    justify-content: center;
}



img {
  height: 70vh;
  object-fit: cover;
  border: 3px solid black;
  @include tab {
      width: 250px;
  }
}


.portfolio-text {
    text-align: center;
    font-size: 2rem;
    width: 50%;
    margin: 5% auto;
    line-height: 1.2;
}