.skill {
    width: 100%;
    padding: 50px 0;
    background: #f8f9fa;
}

.skill-menu {
    width: 60%;
    margin: 0 auto;   
    display: flex;
    justify-content: center;
    justify-content: space-between;
    @include tab {
        flex-direction: column;
        width: 80%;
    }
}


.profile2 {
    letter-spacing: 2px;
    font-size: 2rem;
    white-space: pre-line;
    p {
        line-height: 2;
    }
}


.skill-icon {
    width: 40%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @include tab {
        width: 100%;
    }
}

.skill-icon-item {
    font-size: 2rem;
    width: 28%;
    height: 100px;
    text-align: center;
    p {
        margin-top: 10px;
    }
    @include tab {
        margin-bottom: 50px;        
        width: 50%;
    }
}


.fab {
    font-size: 8rem;
}
